@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #664798;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text{
  color: #00FFFF;
  margin-bottom: 4vh;
}

.text::selection{
  background: #2407AB;
  color: #fff;
}

.snake{
  width: 512px;
  height: 512px;
}